<h2><%= @month %>月の収入履歴</h2>

<%= form_with url:'/incomes', local:true, method: :get do |f| %>
<%= f.select :month, Income.pluck(:date).map{|d|["#{d.year}/#{d.month}","#{d.year}/#{d.month}"]}.uniq %>
<%= f.submit "へ移動" %>
<% end %>
<table>
    <tr>
      <th>日付</th>
      <th>カテゴリ</th>
      <th>金額</th>
    </tr>
    <% @sum = 0 %>
    <% @incomes.each do |income| %>
    <tr>
      <td><%= income.date %></td>
      <td><%= income.incomes_category_id %></td>
      <td><%= income.incomes_amount %></td>
    </tr>
    <% @sum += income.incomes_amount %>
    <% end %>
</table>
<p>合計支出<%= @sum %></p>


<%= form_with model:@income, local:true do |f| %>
  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_select :date, use_month_numbers:true, date_separator: '/' %>
  </div>

  <div class="field">
    <%= f.label :incomes_amount, "収入額" %><br />
    <%= f.number_field :incomes_amount %>
  </div>

  <div class="field">
    <%= f.label :incomes_category_id, "カテゴリー" %><br />
    <%= f.collection_select :incomes_category_id, @income_categories.all, :id, :category_name %>
  </div>



  <div class="actions">
    <%= f.submit "収入を記録する" %>
  </div>
<% end %>