<h2>1月支出履歴</h2>
<tabel>
  <thead>
    <tr>
      <td>日付</td>
      <td>カテゴリ</td>
      <td>金額</td>
    </tr>
  </thead>
</tabel>

<%= form_with model:@expense, local:true do |f| %>
  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_select :date %>
  </div>
  
  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_select :date %>
  </div>
  
  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_select :date %>
  </div>