<h2><%= @month %>月の支出履歴</h2>

<%= form_with url:'/expenses', local:true, method: :get do |f| %>
<%= f.select :month, Expense.pluck(:date).map{|d|["#{d.year}/#{d.month}","#{d.year}/#{d.month}"]}.uniq %>
<%= f.submit "へ移動" %>
<% end %>
<table>
    <tr>
      <th>日付</th>
      <th>カテゴリ</th>
      <th>金額</th>
    </tr>
    <% @sum = 0 %>
    <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.date %></td>
      <td><%= expense.expenses_category_id %></td>
      <td><%= expense.expenses_amount %></td>
    </tr>
    <% @sum += expense.expenses_amount %>
    <% end %>
</table>
<p>合計支出<%= @sum %></p>

<%= form_with model:@expense, local:true do |f| %>
  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_select :date, use_month_numbers:true, date_separator: '/' %>
  </div>

  <div class="field">
    <%= f.label :expenses_amount, "支出額" %><br />
    <%= f.number_field :expenses_amount %>
  </div>

  <div class="field">
    <%= f.label :expense_category_id, "カテゴリー" %><br />
    <%= f.collection_select :expenses_category_id, @expense_categories.all, :id, :category_name %>
  </div>



  <div class="actions">
    <%= f.submit "支出を記録する" %>
  </div>
<% end %>