<!DOCTYPE html>
<html>
  <head>
    <title>KakeboConnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff9e3d;">
        <div class="container">
          <%= link_to "家計簿コネクト", root_path, class: 'navbar-brand p-3' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "マイページ", my_page_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "1カ月の収支", root_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "収入の入力・一覧", incomes_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "支出の入力・一覧", expenses_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "他の人の家計簿を覗く", reports_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "About", about_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                  </li>
                <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
    <footer>
      <nav class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: #ff9e3d;">
        <div class="container justify-content-center">
          <div class="row pt-3">
            <div class="col-12">
              <p>Copyright © 2021 KakeboConnect. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
